:root {
    /* COLORS */
    --color-black: #000;
    --color-white: #fff;

    --color-dark-grey: #767677;
    --color-medium-grey: #d3d7da;
    --color-light-grey: #ebedee;
    
}

/* UTILITIES */
.margin-left-small {
    margin-left: 2rem;
}

.margin-right-small {
    margin-right: 1rem;
}

.margin-right-medium {
    margin-right: 1.5rem;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 10px/16px = 62.5% */
}

body {
    box-sizing: border-box;
}

body {
    font-family: AdihausDIN, Arial, sans-serif;
    font-weight: regular;
    /* font-size: 16px; */
    color: #000;
}
